ddgs
dotenv
PyPDF2
pyttsx3
PyAudio
openpyxl
selenium
watchdog
pyperclip
playsound
wikipedia
faiss-cpu
python-docx
python-pptx
pygetwindow
wolframalpha
opencv-python
SpeechRecognition
google-generativeai
sentence-transformers
mysql-connector-python